.imagem-perfil {
    border: none;
    border-radius: 500px;
    width: 100px;
    height: 100px;
    padding: 10px;
}

.card-container {
    margin: 10px;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}