.card-container {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 400px;
  border: 1px solid black;
}

.imagem-perfil {
    border: none;
    border-radius: 500px;
    width: 200px;
    height: 200px;
  }
  
  .online {
    border: 5px green solid;
  }
  
  .offline {
    border: 5px red solid;
  }
  
  .busy {
      border: 5px orange solid;
  }

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
